
#grad {
  background: linear-gradient(lightblue,yellow);
}


nav ul {
  list-style-type: none;
}
nav ul li{
  display: inline;
  padding: 0 5px;
  margin: 0 20px;
}
span {
  float: right;
}
.icon{
  width: 30px;
  height: 30px;
}

p {
  background-color: white;
  margin: 0;
  width: 50%;
  text-align: left;
}
 h1 {
   text-align: center;
   border: 2px;
   margin: 0 20px;
   padding: 4px;
 }
 .Roman{
  height: 130px;
}
 .Roman img{
   float: right;
   width: 50%;
   height: 600px;
 }
